<%- include ('components/header.ejs') %>
<h1>Welcome <%= title %></h1>
<label for="new">list of products</label>

<ul>
    <% products.forEach((element)=>{%>

        <li>
            <%= element.label %>
        </li>
        
    <%}) %>
</ul>